 /* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #49bf0a;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Sections */
section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

section h2 {
    color: #0abf31;
}

ul {
    list-style: square;
    padding-left: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #0abf13;
    color: white;
}